<!doctype html>
<html ng-app="app" ng-controller="appController">
	<head>
		<title>MDLUX # {{fullname}}</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<a class="navbar-brand">
							MDLUX # {{filename}}
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-hide="editmode">
						<a class="btn btn-default" ng-click="edit()">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</li>
					<li ng-show="editmode">
						<a class="btn btn-default" ng-click="save()">
							<span class="glyphicon glyphicon-ok"></span>
						</a>
					</li>
					<li ng-show="editmode">
						<a class="btn btn-default" ng-click="cancel()">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<section class="container-fluid row">
			<section ng-show="editmode" ng-class="mdtextcol">
				<textarea class="full-height" ng-model="mdtext" ng-change="textchange()"></textarea>
			</section>
			<section ng-bind-html="htmltext" class="htmltextcol" ng-class="htmltextcol"></section>
		</section>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>
